.uploadPageContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-self: center;
    align-items: center;
    color: white;
    text-align: center;
}

.settingsBtn {
    margin-top: 10px;
}