.video {
    height: 100%;
    width: 23%;
    padding: 10px;
    cursor: pointer;
}

.topTags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    text-align: center;
    margin: 5px;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width: 1800px) {

    .video {
        width: 30%;
    }
}

@media screen and (max-width: 1300px) {

    .video {
        width: 45%;
    }
}

@media screen and (max-width: 900px) {

    .video {
        width: 100%;
    }

    .image {
        max-width: 100%;
    }
}