<div class="uploadPageContainer">
    <div class="button">
        <a mat-stroked-button (click)="switchMode('image')" class="selectionButton"><mat-icon class="ico">image</mat-icon>Upload image</a>
        <a mat-stroked-button (click)="switchMode('comics')" class="selectionButton"><mat-icon class="ico">book</mat-icon>Upload comic or album</a>
        <a mat-stroked-button (click)="switchMode('video')" class="selectionButton"><mat-icon class="ico">subscriptions</mat-icon>Upload video or short</a>
    </div>

    <ng-container *ngIf="isImage">
        <h1 style="color: #ba005c;">Upload image</h1>
        <div class="fileZone">
            <input type="file" multiple accept="image/*" (change)="onFileSelected($event)">
        </div>
            
        <h3 style="margin-top: 20px;">Tags</h3>
        <p style="margin-top: 0">Separate each tag with a comma sign</p>
        <mat-form-field appearance="outline" class="inputField">
            <textarea matInput style="color: white;" maxlength="256" placeholder="Tags - separate with comma" [(ngModel)]="tagsString"></textarea>
        </mat-form-field>
        <a mat-stroked-button (click)="uploadImage()" *ngIf="!isUploadingImage">Upload</a>
        <h4 *ngIf="isUploading">Please wait while file uploads...</h4>
    </ng-container>
    <ng-container *ngIf="isComic">
        <h1 style="color: #ba005c;">Upload comic / album</h1>

        <div class="fileZone">
            <input type="file" accept=".zip" (change)="onComicZipSelected($event)">
            <p *ngIf="selectedComicZipFile">Selected file: {{ selectedComicZipFile.name }}</p>
        </div>
        <p style="text-align: center;"><i>Select a ZIP file containing all the pages. <br>Note that they MUST be numered i.e. "1.png", "2.png" etc. <br>
            page number 1 will be used as the "cover" image. <br>Allowed image formats: jpg, png, gif, bmp, webp.
        </i></p>

        <h3 style="margin-top: 20px;">Title</h3>
        <mat-form-field appearance="outline" class="inputField">
            <input matInput style="color: white;" placeholder="Title" [(ngModel)]="comicTitle">
        </mat-form-field>

        <h3 style="margin-top: 0;">Description</h3>
        <mat-form-field appearance="outline" class="inputField">
            <textarea matInput style="color: white;" maxlength="256" placeholder="Description" [(ngModel)]="comicDescription"></textarea>
        </mat-form-field>

        <h3 style="margin-top: 0;">Artist</h3>
        <mat-form-field appearance="outline" class="inputField">
            <input matInput style="color: white;" placeholder="Artist name" [(ngModel)]="comicArtist">
        </mat-form-field>

        <h3 style="margin-top: 0;">Tags</h3>
        <p style="margin-top: 0">Separate each tag with a comma sign</p>
        <mat-form-field appearance="outline" class="inputField">
            <textarea matInput style="color: white;" maxlength="256" placeholder="Tags - separate with comma" [(ngModel)]="tagsString"></textarea>
        </mat-form-field>

        <a mat-stroked-button (click)="uploadComicZip()" *ngIf="!isUploadingComic">Upload</a>
        <h4 *ngIf="isUploadingComic">Please wait while comic uploads...</h4>
    </ng-container>

    <ng-container *ngIf="isVideo">
        <h1 style="color: #ba005c;">Upload Video or Short</h1>
        <div class="fileZone">
            <input type="file" accept="video/*" (change)="onFileSelected($event)">
        </div>

        <mat-checkbox style="margin-left: -15px;" [(ngModel)]="isShort"><p style="color: white;">Upload video as Short?</p></mat-checkbox>

        <h3>Title</h3>
        <mat-form-field appearance="outline" class="inputField">
            <input matInput style="color: white;" placeholder="Title" [(ngModel)]="title">
        </mat-form-field>
        
        <h3 style="margin-top: 0;">Description</h3>
        <mat-form-field appearance="outline" class="inputField">
            <textarea matInput style="color: white;" maxlength="256" placeholder="Description" [(ngModel)]="description"></textarea>
        </mat-form-field>
            
        <h3 style="margin-top: 0;">Tags</h3>
        <p style="margin-top: 0">Separate each tag with a comma sign</p>
        <mat-form-field appearance="outline" class="inputField">
            <textarea matInput style="color: white;" maxlength="256" placeholder="Tags - separate with comma" [(ngModel)]="tagsString"></textarea>
        </mat-form-field>
        <p style="margin-top: 0">Adding a thumbnail is possible after upload.</p>
        <a mat-stroked-button (click)="upload()" *ngIf="!isUploading">Upload</a>
        <h4 *ngIf="isUploading">Please wait while file uploads...</h4>
    </ng-container>
</div>