.uploadPageContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-self: center;
    align-items: center;
    color: white;
}

.button {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fileZone {
    width: 20%;
    border: 1px solid rgb(124, 124, 124);
    padding: 15px;
    border-radius: 10px;
}

.inputField {
    width: 21%;
    color: white;
}

@media screen and (max-width: 900px) {

    .fileZone {
        width: 80%;
    }
    .inputField {
        width: 100%;
    }
    .selectionButton {
        margin-top: 5px;
    }

    .selected-tags {
        width: 100% !important;
    }
}

.selected-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 21%;
  gap: 6px;
}

.selected-tags .tag {
  background-color: #ba005c;
  color: white;
  padding: 6px 10px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.selected-tags .tag button {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 4px;
  cursor: pointer;
}
