.frontPageContainer {
    display: flex;
    width: 95%;
    justify-self: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    align-items: center;
}

.recommendations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.tags {
    display: flex;
}

.video {
    height: 100%;
    width: 23%;
    padding: 10px;
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
}

.tag-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .tag-group {
    width: 30%;
    margin-bottom: 30px;
  }
  
  .tag-group h2 {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
  }
  
  .tag-list {
    list-style: none;
    padding: 0;
  }
  
  .tag-list li {
    margin: 5px 0;
  }
  
  .tag-list a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .tag-list a:hover {
    text-decoration: underline;
  }

@media screen and (max-width: 1800px) {

    .video {
        width: 30%;
    }
}

@media screen and (max-width: 1300px) {

    .video {
        width: 45%;
    }
}

@media screen and (max-width: 900px) {

    .video {
        width: 100%;
    }
}