<div class="pageContent"  *ngIf="videoLoaded">
    <div class="mainVideo">
        <div class="videoContainer">
            <video controls class="video" (click)="play()" #videoPlayer>
                <source src="{{videoUrl}}" type="{{videoFormat}}">
                Your browser does not support the video tag.
            </video>
            <div class="videoInfo">
                <h2>{{videoMetadata.title}}</h2>
                <p>{{videoMetadata.description}}</p>
                <div class="tags">
                    <ng-container *ngFor="let tag of videoMetadata.tags">
                        <a mat-stroked-button href="/tags/{{tag}}" class="tag">{{ capitalize(tag) }}</a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="rightSide">
        <div class="rightSideContent">
            <h2 style="margin: 0; margin-bottom: 10px;">More like this</h2>
            <ng-container *ngFor="let tag of videoMetadata.tags">
                <div class="thumbnail">
                    <img src="{{videoThumbnailUrl}}" class="thumbnailImg">
                    <h3 style="margin: 0">Title</h3>
                </div>
            </ng-container>
        </div>
    </div>
</div>