<div class="pageContent"  *ngIf="videoLoaded">
    <div class="mainVideo">
        <div class="videoContainer">
            <video controls class="video" (click)="play()" #videoPlayer>
                <source src="{{videoUrl}}" type="{{videoFormat}}">
                Your browser does not support the video tag.
            </video>
            <div class="videoInfo">
                <div class="first">
                    <h2 style="margin-bottom: 0;">{{videoMetadata.title}}</h2>
                    <div class="edit">
                        <label style="display: flex; align-items: center; cursor: pointer;" (click)="edit()"><mat-icon>edit</mat-icon></label>
                        <label style="display: flex; align-items: center; cursor: pointer; margin-left: 10px;" (click)="delete(videoMetadata.id)"><mat-icon>delete_forever</mat-icon></label>
                    </div>
                </div>
                <p>{{videoMetadata.description}}</p>
                <div class="tags">
                    <ng-container *ngFor="let tag of videoMetadata.tags">
                        <a mat-stroked-button href="/tags/{{tag}}" class="tag">{{ capitalize(tag) }}</a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="rightSide">
        <div class="rightSideContent">
            <h2 style="margin: 0; margin-bottom: 10px;">Similar videos</h2>
            <ng-container *ngFor="let data of recommendedVideos">
                <div class="thumbnail" (click)="navigate(data.id)">
                    <img src="{{getRecThumbnail(data.id)}}" class="thumbnailImg">
                    <h3 style="margin: 0">{{capitalize(data.title)}}</h3>
                </div>
            </ng-container>
            <ng-container *ngIf="recommendedVideos.length == 0">
                <p>No similar videos...</p>
            </ng-container>
        </div>
    </div>
</div>