.pageContent {
    display: flex;
    width: 95%;
    justify-self: center;
    justify-content: center;
    color: white;
    margin-top: 30px;
}

.video {
    border-radius: 10px;
    height: 100%;
    max-height: 60vh;
}

.edit {
    display: flex;
    
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.thumbnail {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.thumbnailImg {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.mainVideo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.rightSide {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.rightSideContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin-right: 10px;
    height: 30px;
    margin-top: 10px;
}

@media screen and (max-width: 900px) {
    .pageContent {
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-self: center;
        justify-content: center;
        color: white;
    }

    .mainVideo {
        width: 100%;
    }

    .rightSide {
        margin-top: 50px;
        width: 100%;
    }

    .rightSideContent {
        align-items: flex-start;
    }
}