.navbarContainer {
    display: flex;
    height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0f0f0f;
    border-radius: 0 0 10px 10px;
}

.sideNavRight {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.sideNavLeft {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.imageButtons {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.logoBar {
    display: flex;
    justify-content: flex-start;
}

.logo {
    max-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuItem {
    margin-left: 20px;
    margin-right: 20px;
}

.search-bar {
    margin-top: 20px;
    width: 30%;
    color: white;
}

mat-form-field.small {
    --mat-form-field-container-height: 30px;
    --mat-form-field-container-vertical-padding: 8px;
}

@media screen and (max-width: 1900px) {

    .ico {
        display: none !important;
    }

}

@media screen and (max-width: 1230px) {

    .logoBar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .navbarContainer {
        flex-direction: column;
        height: auto;
        padding: 10px;
        width: auto;
    }

    .sideNavRight {
        width: 100%;
        justify-content: center;
    }

    .search-bar {
        width: 100%;
    }

    .sideNavLeft {
        width: auto;
        justify-content: center;
        flex-wrap: wrap;
    }

    .ico {
        display: inline-block !important;
    }
}