<div class="navbarContainer">
    <div class="sideNavLeft">
        <a href="/"><img src="/assets/images/logo.png" class="logo"></a>
    </div>

    <mat-form-field appearance="outline" class="search-bar small" >
        <input style="color: white; " matInput placeholder="Search by tags" [(ngModel)]="input" (keyup.enter)="search()"/>
        <button mat-icon-button matSuffix (click)="search()">
            <mat-icon style="color: white">search</mat-icon>
        </button>
    </mat-form-field>
    
    <div class="sideNavRight">
        <a mat-stroked-button href="/upload" style="margin-right: 20px;">Upload</a>
        <a mat-stroked-button (click)="logOut()">Log out</a>
    </div>
</div>