.navbarContainer {
    display: flex;
    height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(22, 22, 22);
    border-radius: 0 0 10px 10px;
}

.sideNavRight {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.sideNavLeft {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 100%;
    max-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuItem {
    margin-left: 20px;
    margin-right: 20px;
}

.search-bar {
    margin-top: 20px;
    width: 30%;
    color: white;
}

mat-form-field.small {
    --mat-form-field-container-height: 30px;
    --mat-form-field-container-vertical-padding: 8px;
}

@media screen and (max-width: 900px) {
    .navbarContainer {
        flex-direction: column;
        height: auto;
        padding: 10px;
        width: auto;
    }

    .sideNavRight {
        width: 100%;
        justify-content: center;
    }

    .search-bar {
        width: 100%;
    }
}