<div class="navbarContainer">
    <div class="sideNavLeft">
        <a (click)="navigate('/')" class="logoBar" style="cursor: pointer;"><img src="/assets/images/logo.png" class="logo"></a>
    </div>

    <mat-form-field appearance="outline" class="search-bar small" >
        <input style="color: white; " matInput placeholder="Search" [(ngModel)]="input" (keyup.enter)="search()"/>
        <button mat-icon-button matSuffix (click)="search()">
            <mat-icon style="color: white">search</mat-icon>
        </button>
    </mat-form-field>
    
    <div class="sideNavRight">
        <a mat-stroked-button (click)="navigate('/search/all')" style="margin-right: 20px; text-align: center;"><mat-icon class="ico">subscriptions</mat-icon>Catalog</a>
        <a mat-stroked-button (click)="navigate('/tags/all')" style="margin-right: 20px; text-align: center;"><mat-icon class="ico">ballot</mat-icon>Tags</a>
        <a mat-stroked-button (click)="navigate('/upload')" style="margin-right: 20px; text-align: center;"><mat-icon class="ico">add_to_queue</mat-icon>Upload</a>
        <a mat-stroked-button (click)="navigate('/settings')" style="text-align: center;"><mat-icon style="margin: 0">settings</mat-icon ></a>
    </div>
</div>