<div class="frontPageContainer">
    <div class="button">
        <a mat-stroked-button (click)="setView('images')" style="margin-right: 20px; text-align: center;"><mat-icon class="ico">image</mat-icon>Show images</a>
        <a mat-stroked-button (click)="setView('comics')" style="margin-right: 20px; text-align: center;"><mat-icon class="ico">book</mat-icon>Show comics</a>
        <a mat-stroked-button (click)="setView('videos')" style="text-align: center;" class="videoButton"><mat-icon class="ico">subscriptions</mat-icon>Show videos</a>
        
    </div>
    <ng-container *ngIf="isComic">
        <h1 style="color: #ba005c;" *ngIf="searchString != 'all'">Comic results for : {{capitalize(searchString)}}</h1>
        <h1 style="color: #ba005c;" *ngIf="searchString == 'all'">Showing all comics</h1>
        <div class="recommendations">
            <div class="comic" *ngFor="let meta of comicCatalog" (click)="openComic(meta.id)">
                <img src="{{getPageImageUrl(meta.id, 1)}}" class="comicThumbnail">
                <div class="info">
                    <div class="topRowComic">
                        <h4 style="margin: 0">{{capitalize(meta.name)}}</h4>
                        <p style="margin: 0; margin-top: 5px; font-size: small;">{{capitalize(meta.artist)}}</p>
                    </div>
                    <div class="tagsComic">
                        <p style="margin: 0; margin-right: 5px; margin-top: 5px; font-size: small;" *ngFor="let tag of meta.tags"><i>#{{capitalize(tag)}}</i></p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="comicCatalog.length == 0">
            It doesn't seem like we found any comics!
        </div>
    </ng-container>
    <ng-container *ngIf="isVideo">
        <h1 style="color: #ba005c;" *ngIf="searchString != 'all'">Video results for : {{capitalize(searchString)}}</h1>
        <h1 style="color: #ba005c;" *ngIf="searchString == 'all'">Showing all videos</h1>
        <div class="recommendations">
            <div class="video" *ngFor="let meta of catalog" (click)="navigate(meta.id)">
                <img src="{{getThumbnail(meta.id)}}" class="thumbnail">
                <div class="info">
                    <div class="topRow">
                        <h4 style="margin: 0">{{capitalize(meta.title)}}</h4>
                        <p style="margin: 0; font-size: small;">{{createDurationString(meta.duration)}}</p>
                    </div>
                    <div class="tags">
                        <p style="margin: 0; margin-right: 5px; margin-top: 5px; font-size: small;" *ngFor="let tag of meta.tags"><i>#{{capitalize(tag)}}</i></p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="catalog.length == 0">
            It doesn't seem like we found any videos!
        </div>
    </ng-container>
    <ng-container *ngIf="isImages">
        <div class="frontPageContainer">
            <h1 style="color: #ba005c;" *ngIf="searchString != 'all'">Image results for : {{capitalize(searchString)}}</h1>
            <h1 style="color: #ba005c;" *ngIf="searchString == 'all'">Showing all images</h1>
            <div class="imageRecommendation">
                <div class="imgContainer" *ngFor="let meta of imageCatalog; let i = index" (click)="openImage(i)">
                    <img src="{{getImage(meta.id)}}" class="image">
                </div>
            </div>
            <div *ngIf="imageCatalog.length == 0">
                It doesn't seem like there are any images yet...
            </div>
        </div>

        <div class="imageModal" *ngIf="selectedImageIndex !== null">
            <div class="imageOverlay" (click)="closeImage()"></div>

            <!-- Close button -->
            <div class="closeButton" (click)="closeImage()">×</div>

            <!-- Navigation zones -->
            <div class="navZone left" (click)="prevImage($event)"></div>
            <div class="navZone right" (click)="nextImage($event)"></div>

            <!-- Arrows -->
            <div class="arrow left-arrow">&#10094;</div>
            <div class="arrow right-arrow">&#10095;</div>

            <!-- Image -->
            <img [src]="getImage(imageCatalog[selectedImageIndex].id)" class="fullImage" />
            <div class="tagRow" *ngIf="selectedImageIndex !== null">
                <span class="tag" *ngFor="let tag of imageCatalog[selectedImageIndex]?.tags" (click)="toTag(tag)">
                #{{ capitalize(tag) }}
                </span>
            </div>
        </div>
    </ng-container>
</div>