
.video {
    height: 100%;
    width: 23%;
    padding: 10px;
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
}

.button {
    margin-top: 20px;
}

@media screen and (max-width: 1800px) {

    .video {
        width: 30%;
    }
}

@media screen and (max-width: 1300px) {

    .video {
        width: 45%;
    }
}

@media screen and (max-width: 900px) {

    .video {
        width: 100%;
    }

    .image {
        max-width: 100%;
    }
}