<div class="frontPageContainer">
    <h1 *ngIf="searchString != 'all'">Search result for : {{capitalize(searchString)}}</h1>
    <h1 *ngIf="searchString == 'all'">Showing all videos</h1>
    <div class="recommendations">
        <div class="video" *ngFor="let meta of catalog" (click)="navigate(meta.id)">
            <img src="{{getThumbnail(meta.id)}}" class="thumbnail">
            <div class="info">
                <h4 style="margin: 0">{{capitalize(meta.title)}}</h4>
                <div class="tags">
                    <p style="margin: 0; margin-right: 5px; margin-top: 5px; font-size: small;" *ngFor="let tag of meta.tags"><i>#{{capitalize(tag)}}</i></p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="catalog.length == 0">
        It doesn't seem like we found any videos!
    </div>
</div>