.main {
    height: 99vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.outlet{
    width: 80%;
    margin-top: 50px;
    flex: 1
}


@media screen and (max-width: 900px) {

    .outlet {
        width: 100%;
    }
}